/MultiGame/nbproject/private/
/MultiGame/build/
/MultiGame/dist/
/XML/nbproject/private/
/XML/dist/
/XML/build/
/JavaFXApplication13/nbproject/private/
/JavaFXApplication14/nbproject/private/
/JavaFXApplication14/build/
/Client1/build/
/Client1/dist/
/Client1/nbproject/private/
/Client/nbproject/private/
/Client/dist/
/Client/build/